body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e3e9f9;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #2f5fd3;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
